.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.nav-logo {
    display: flex;
}
.img {
    height: 32px;
    width: 32px;
    align-self: self-end;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('Style=Default.svg') !important;
    cursor: pointer;
}
.img:hover {
    background-image: url('Style=Outline.svg') !important;
}
.name {
    padding-left: 16px;
    font-weight: bold;
    font-size: 24px;
    align-self: flex-start;
    cursor: pointer;
}
.pages {
    display: flex;
}
.page {
    padding-left: 8px;
    padding-right: 8px;
    align-self: self-end;
    /* font-size: 24px; */
    color: gray;
}
.page:hover {
    color: white;
}
.hashtag {
    color: #C778DD;
}
.active {
    color: white;
    font-weight: bold;
}